@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*========== Colors ==========*/
/*Color mode HSL(hue, saturation, lightness)*/
/*========== Font and typography ==========*/
/*.5rem = 8px | 1rem = 16px ...*/
/*========== Font weight ==========*/
/*========== z index ==========*/
/*========== Responsive typography ==========*/
html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
}

body {
  background-color: hsl(0, 0%, 100%);
  color: hsl(140, 4%, 40%);
  transition: background-color 0.4s;
}

h1,
h2,
h3,
h4 {
  color: hsl(140, 4%, 12%);
  font-weight: 500;
  line-height: 100%;
}

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  font-size: 2rem;
  font-family: "Cherry Bomb One", cursive;
  text-align: center;
  margin-bottom: 1rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: hsl(0, 0%, 100%);
  z-index: 100;
  transition: box-shadow 0.4s, background-color 0.4s;
}

.nav {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo, .nav__toggle, .nav__close {
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(140, 4%, 12%);
}
.nav__logo {
  font-family: "Cherry Bomb One", cursive;
  font-size: 1rem;
  column-gap: 0.25rem;
}
.nav__logo img {
  width: 1.25rem;
}
.nav__toggle, .nav__close {
  font-size: 1.25rem;
  cursor: pointer;
}
.nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 2.5rem;
}
.nav__link {
  color: hsl(140, 4%, 12%);
  font-weight: 600;
  transition: color 0.4s;
}
.nav__link:hover {
  color: hsl(140, 40%, 48%);
}
.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}
.nav__img-1, .nav__img-2 {
  filter: invert(1);
  position: absolute;
}
.nav__img-1 {
  width: 150px;
  top: -2.5rem;
  left: -3.5rem;
  rotate: 180deg;
}
.nav__img-2 {
  width: 50px;
  right: 2.5rem;
  bottom: 2.5rem;
}

.show-menu {
  top: 0;
}

@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.1);
    padding-block: 4.5rem;
    transition: top 0.4s;
  }
}

/*# sourceMappingURL=app.css.map */
